
body {
    background-image: url(imagens/astronomy-1867616_1920.webp);
    background-repeat: repeat;
}

:root {
    --lightorange: #1f7cd8;
    --darkorange: #1f7cd8;
    --background: #F3F5FC;
    --messagebackground: #FFFFFF;
    --Texto:'Carmesim', serif;
    
}

body {
    background-color: var(--background);
    font-family: var(--'Carmesim', serif);
}


header img {
    margin: 10px 0 0 15px;
    width: 12%;
    cursor: poiCarmesim;
}



main {
    display: flex;
    margin: 0.5em 0 0 12%;
}

textarea {
    background-color:  var(--messagebackground);
    width: 95%;
    
    border: none;
    border-radius: 10px;

    padding: 20px 0 0 20px;
}


#code-input {
    width: 50%;
    margin-right: 5%;
    height: 500px;
 border-radius: 10px;
}

#input-message {
    height: 70%;
}

#code-input textarea::placeholder {
    font-size: 20px;
    font-family: var(--fonteInter);
    color: var(--dark);
}

#code-buttons {
    margin: 2em auto;
}

#code-buttons #warning {
    display: flex;
    margin-top: 4px;
    margin-bottom: 6px;
}

#code-buttons #warning p {
    font-size: 15px;
    color: #fbfcfd;
    padding-left: 5px;
}

#code-buttons #warning img {
    width: 2%;
}

button {
    text-align: center;
    width: 45%;
    padding: 15px 0;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

button:first-child {
    background-color: var(#000000);
    color: #000000;
}

button:last-child {
    margin-left: 25px;
    background-color: var(#000000);
    color: var(#000000);
}



#code-output {
    width: 35%;
    height: 500px;

    text-align: center;
}

#nocode {
    background-image: url(./imagens/9bda92715b3536ba750abf46a8c53116.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-position-y: 5%;
}

#nocode, #withcode {
    background-color:  var(--messagebackground);
    border-radius: 10px;
    height: 475px;
}

.output-item {
    padding-bottom: 15px;
    position: relative;
    top: 350px;
}

#nocode h3 {
    font-size: 22px;
    color: #4752f7;
    width: 80%;

    margin: 0 auto;

    font-weight: 700;
}

#nocode p {
    font-size: 16px;
    color: #4752f7;
    width: 80%;
    margin: 0 auto;
}

#withcode textarea {
    height: 350px;
}

#withcode button {
    margin: 12% 0 3% 0;
}




footer {
    text-align: center;
    margin-top: 2em;
}

footer p {
    font-size: 15px;
}

footer li {
    display: inline-block;
    margin-top: 0.5em;
}
  
footer li img {
    width: 20px;
}



@media (max-width:670px) {
    main {
        flex-direction: column;
    }

    #logo {
        width: 20%;
        margin-bottom: 1em;
    }

    #code-output {
        margin-top: 2.5em;
    }

    #code-input, #code-output {
        width: auto;
        margin-right: 2.5em;
        height: 350px
    }

    #code-input textarea {
        height: 60%;
    }

    #warning {
        justify-content: center;
    }

    #code-buttons #warning p {
        font-size: 10px;
    }
    
    #code-buttons #warning img {
        width: 10%;
    }

    .buttons {
        
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        width: 80%;
        align-items: center;

        
        
    }

    .buttons button {
        margin: 0.2em auto;
    }

    #nocode {
        background: none;

        margin-top: 5em;
    }

    .output-item {
        position: inherit;
    }

    #withcode {
        margin-top: 5em;
        height: 150px;
    }
    
    #withcode textarea {
        height: 150px;
    } 

    #withcode button {
        
        margin: 5% 0 3% 0;
        width: 35%;
    }

    footer p {
        font-size: 12px;
    }
}

@media (min-width:671px) and (max-width:923px) {
    .output-item {
        padding-bottom: 15px;
        position: relative;
        top: 300px;
    }
}